.header{
  background:$header-color;
}

.header__title{
  color:white;
  text-decoration: none;
  h1{
    margin:0; //delete the top white space of the header
  }
}

.header__content{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:$s-size 0;
}
