.page-summary{
  background-color: $off-white;
  padding:$l-size 0;
  margin-bottom:$l-size;
}

.page-summary__title{
  margin:0;
  font-weight:300;
  span{
    font-weight:bold;
  }
}

.page-summary__action{
  margin-top:$m-size;
}
