html{
  font-size:62.5%
}


body{
  font-family:Helvetica,Arial,sans-serif;
  font-size:$m-size;
  background-color: white;
}

button{
  cursor:pointer;
}

button{
  cursor:default;
}
//rem
// h1{
//   font-size: 2.2rem;
// }
.is-active{
  font-weight:bold;
}
