*{
  box-sizing: border-box;
}

html{
  font-size:62.5%; //make rem equals to 10px
}

body{
  body:$dark-grey;
  font-family:Helvetica,Arial,sans-serif;
  font-size:$m-size;
  background-color: white;
  line-height:1.6;
}

button{
  cursor:pointer;
}

button:disabled{
  cursor:default;
}
//rem
// h1{
//   font-size: 2.2rem;
// }
.is-active{
  font-weight:bold;
}
